{% extends 'layout/1column.html' %}
{% block body%} 
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>Danh sach nhan vien phong {{department.name}}</h1>
        <table class="table__specification w-100 table-reset text-white">
            <thead>
                <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên</th>
                <th scope="col">Tuoi</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees_list %}
                    <tr>
                        <td>{{employee.department_id}}</td>
                        <td>{{employee.name}}</td>
                        <td>{{employee.age}}</td>
                    </tr>
                {%  endfor %}
            
            </tbody>
        </table>
        <script src="" async defer></script>
    </body>
{% endblock %}