{% extends 'layout/1column.html' %}
{% block body %} 
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <h1>Home page</h1>
    <table class="table__specification w-100 table-reset text-white">
        <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Tên phòng</th>
              <th scope="col">Chi tiet</th>
            </tr>
          </thead>
        <tbody>
            {% for department in department_list %}
                <tr>
                    <td>{{department.department_id}}</td>
                    <td>{{department.name}}</td>
                    <td>
                        <a href="/department/{{department.department_id}}">Chi tiet</a>
                    </td>
                </tr>
            {%  endfor %}
        
        </tbody>
      </table>
    <script src="" async defer></script>
</body>
{% endblock %}